<h1>About Us</h1>
<div class="hero-unit">

	<table width="100%">
		<tr> 
			<td align="center"><%= image_tag("matt-circ.png", alt: "Matthew")%> </td>
			<td align="center"><%= image_tag("peg-circ.png", alt: "Peggy") %> </td>
			<td align="center"><%= image_tag("bryan-circ.png", alt: "Bryan") %> </td>
		</tr>
		<tr> 
			<td align="center">Matthew K. Chan </td>
			<td align="center">Peggy Bui</td>
			<td align="center">Bryan Lam</td>
		</tr>
		
		<tr> 
			<td style="overflow:auto; height:200px;" align="center"><%= image_tag("lita-circ.png", alt: "Lita") %> </td>
			<td style="overflow:auto; height:200px;" align="center"><%= image_tag("joe-circ.png", alt: "Joseph") %> </td>
			<td style="overflow:auto; height:200px;" align="center"><%= image_tag("jacob-circ.png", alt: "Jacob") %> </td>
		</tr>
		<tr> 
			<td align="center">Lita Patel </td>
			<td align="center">Joseph Hanson </td>
			<td align="center">Jacob Heller</td>
		</tr>
	</table>

	<!--
	<p>
		Life Buoy is an iOS and Android-compatible application that wirelessly connects patients to physicians.  Its purpose is three-fold: 
		<ol>
			<li>To aid in disaster relief</li> 
			<li>To reach patients in rural and underserved regions</li>
			<li>To train the next generation’s physicians</li>
		</ol>
	</p>
	-->
</div>