<h1>About Us</h1>
<div class="hero-unit">
<!--	
	<table>
		<tr> 
			<td align="left" style="width:185px;height:239px"><%= image_tag("matt-circ.png", alt: "Matthew")%> </td>
			<td style="overflow:hidden;max-width:810px"><p><b>Matthew Chan</b> is a 2nd year Ph.D. candidate in Informatics at the University of California, Irvine, and he is a member of the Laboratory for Ubiquitous Computing and Information (LUCI). He graduated from the University of California, Berkeley studying Computer Science, with a focus on Human-Computer Interaction, and performed researched on education and health care at The Berkeley Institute of Design. Mr. Chan previously worked on iOS development at Twitter and Cisco.</p></td>
		</tr>
		<tr> 
			<td align="left" style="width:185px;height:239px"><%= image_tag("peg-circ.png", alt: "Peggy")%> </td>
			<td style="overflow:hidden;max-width:810px"><p><b>Peggy Bui</b> is an MD/MBA candidate at the University of California, Irvine, focusing on healthcare innovations and technology. She graduated with honors from Harvard College and worked in strategy consulting at Monitor Group prior to pursuing graduate school. At Monitor, she advised Fortune 500 companies on strategic business capabilities, including: analyzing the future of the healthcare space for a health insurance company, and reassessing the product line of a global telecommunications firm. 
				</p></td>
		</tr>
		
		<tr> 
			<td align="left" style="width:185px;height:239px"><%= image_tag("bryan-circ.png", alt: "Bryan")%> </td>
			<td style="overflow:hidden;max-width:810px"><p><b>Bryan Lam</b> is currently a 2nd year student at the University of California, Irvine, where he is studying to obtain his Bachelor’s of Science in Computer Science. He is currently working as an iOS development intern at Teradek.
				</p></td>
		</tr>

		
		<tr> 
			<td align="left" style="width:185px;height:239px"><%= image_tag("lita-circ.png", alt: "Lita")%> </td>
			<td style="overflow:hidden;max-width:810px"><p><b>Lita Patel</b> is currently a 4th year student at the University of California, Irvine, where she expects to obtain her Bachelor’s of Science in Business Information Management. Previously, she worked as a business intern at California Stem, Inc. where she worked under the General Manager and COO of the company.
				</p></td>
		</tr>
		
		<tr> 
			<td align="left" style="width:185px;height:239px"><%= image_tag("joe-circ.png", alt: "Joseph")%> </td>
			<td style="overflow:hidden;max-width:810px"><p><b>Joseph Hanson</b> is an MD/MBA candidate at the University of California, Irvine. He graduated from Johns Hopkins University with a B.A. in Neuroscience, Chemistry, Mathematics, and English. He has worked as a research coordinator at the Kennedy Krieger Institute in Baltimore, MD. He is currently performing neuro-oncology research in the Chao Family Cancer Center at UC Irvine.
				</p></td>
		</tr>
		
		<tr> 
			<td align="left" style="width:185px;height:239px"><%= image_tag("jacob-circ.png", alt: "Jacob")%> </td>
			<td style="overflow:hidden;max-width:810px"><p><b>Jacob Heller</b> is pursuing an M.S. in Computer Science at the University of California, Irvine. He obtained his B.A. in Computer Science from Claremont McKenna College and has focused his career on the development and application of artificially intelligent systems. He is the lead tech developer for www.thewelcomingcommittee.com.
				</p></td>
		</tr>
	</table>
-->
	<table width="100%">
		<tr> 
			<td align="center"><%= image_tag("matt-circ.png", alt: "Matthew")%> </td>
			<td align="center"><%= image_tag("peg-circ.png", alt: "Peggy") %> </td>
			<td align="center"><%= image_tag("bryan-circ.png", alt: "Bryan") %> </td>
		</tr>
		<tr> 
			<td align="center">Matthew K. Chan </td>
			<td align="center">Peggy Bui</td>
			<td align="center">Bryan Lam</td>
		</tr>
	</table>
	
	</br>
	<table width="100%">
		<tr> 
			<td style="overflow:auto; height:200px;" align="center"><%= image_tag("lita-circ.png", alt: "Lita") %> </td>
			<td style="overflow:auto; height:200px;" align="center"><%= image_tag("joe-circ.png", alt: "Joseph") %> </td>
			<td style="overflow:auto; height:200px;" align="center"><%= image_tag("jacob-circ.png", alt: "Jacob") %> </td>
		</tr>
		<tr> 
			<td align="center">Lita Patel </td>
			<td align="center">Joseph Hanson </td>
			<td align="center">Jacob Heller</td>
		</tr>
	</table>
</div>