<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container-fluid">
			<button class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	
	
			<%= link_to "Life Buoy", root_path, id: "logo" %>
			
			<div class="nav-collapse collapse">
				<ul class="nav pull-right" style="float:right;">
					<li><%= link_to "Profile", profile_path%> </li>
					<li><%= link_to "Home", root_path%> </li>
					<li><%= link_to "Medications", help_path%> </li>
					<li><%= link_to "Around Me", signup_path%> </li>
					<li><%= link_to "Physicians",   about_path %></li>
				</ul>
			</div>
		</div>
	</div>
</header>
